@use 'common';

$font-stack: 'Merriweather', serif;
$font-title: 'Montserrat', sans-serif;
$primary-color: #19bd9c;
$second-color: #fff;
$third-color: #205e5d;

%hashed {
    color: $second-color; /* llamar a una variable externa no funciona */
    text-transform: lowercase;
    font-weight: 600;
    font-style: italic;
}



#title{
    font-family: $font-title;
    color: $second-color;
    font-size: calc(1em + 3vw);
    line-height: 0.85em;
    width: 200%;
}

h2{
    color: $second-color;
    font-family: $font-stack;
    font-size: 2em;
}

.hash{
    @extend %hashed;
    font-size: 1.5em;
}
