@use 'reset';
@use 'main';
@use 'slider';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap');


$font-stack: 'Merriweather', serif;
$font-title: 'Montserrat', sans-serif;
$primary-color: #19bd9c;
$second-color: #fff;
$third-color: #205e5d;
$fourth-color: #252839;



body{
    background-color: #205e5d;
}


main{
    margin-top: 2%; /* eliminar y centrar el grid */
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(auto, 360px)) 1fr;
    grid-template-rows: 80% 20%;
    justify-content: center;
    align-content: center;
}

#rocas{
    background-image: url("../images/rocks.jpg");
    background-size: cover;
    grid-column: span 2;
    grid-row: span 2;
    height: 80vh;
}

#eclipse{
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    grid-column: span 3;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 360px));
    grid-template-rows: 75% 25%;
}


#controles{
    background-color: $fourth-color;
    opacity: 0.7;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}