@use 'reset';
@use 'main';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap');


$font-stack: 'Merriweather', serif;
$font-title: 'Montserrat', sans-serif;
$primary-color: #19bd9c;
$second-color: #fff;
$third-color: #205e5d;


body{
    background-color: #205e5d;
}


main{
    margin-top: 2%; /* eliminar y centrar el grid */
    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(auto, 360px)) 1fr;
    justify-content: center;
    align-content: center;
    /* place-content:	center center; */
    
    #logo{
        grid-column: span 2;
        background-image: url("../images/rock.jpg");
        /* background-repeat: no-repeat; */
        background-position: right top;
        background-size: cover;
        height: 90vh;
    }

    #eclipse-total{
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 360px)) 1fr;
        grid-template-rows: 73% auto;
        background-image: url("../images/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

}

#slogan{
    background-color: #205e5d5e;
}

#vacio1{
    /* background-color: rgba(65, 105, 225, 0.363); */
}

#rocket{
    /* grid-column: span 2; */
    background-repeat: no-repeat;
    background-position: center top;
}