@use 'reset';
@use 'main';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,400&display=swap');


$font-stack: 'Merriweather', serif;
$font-title: 'Montserrat', sans-serif;
$primary-color: #19bd9c;
$second-color: #fff;
$third-color: #205e5d;


body{
    background-color: $third-color;
}


main{
    margin-top: 2%; /* eliminar y centrar el grid */
    display: grid;
    grid-template-columns: auto repeat(4, minmax(auto, 360px)) auto;
    justify-content: center;
    align-content: center;
    /* place-content:	center center; */
    
    #logo{
        grid-column: span 2;
        background-image: url("../images/rock.jpg");
        /* background-repeat: no-repeat; */
        background-position: right top;
        background-size: cover;
        min-height: 810px;
        img{
            position: relative;
            top: 15px;
            left: 10vw;
            width: calc(85px + 5vw);
        }
    }



    #eclipse-total{
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 360px)) 1fr;
        grid-template-rows: 74% auto;
        background-image: url("../images/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center top;
    }

}

#title{
    position: relative;
    top: 32%;
    right: -76%;
    display: inline-flex;
}

#slogan{
    background-color: #205e5d5e;
    padding: 26px 16px;
    hr{
        border: 2px solid $primary-color;
        margin: 11px 0 14px 0;
        width: 38%;
    }
}

#vacio1{
    color: red;
}

#rocket{
    grid-column: span 2;
    position: relative;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url("../images/rocket.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#controles{
    background-color: #252839;
    nav{
        position: relative;
        top: 100%;
        background-color: #252839;
        padding: 5px;
    }
}

